*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: burlywood; */
    margin: auto;
    padding: 10px 25px 10px 0px;
}
#number{
    font-weight: bolder;
}

nav{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

nav ul{
    display: flex;
    align-items: center;
    column-gap: 40px;
    border-right: 1px solid gray;
    padding-right: 25px;
    }

nav ul li{
    list-style: none;
}

nav .right-contact{
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}

.right-contact-text{
    font-size: 15px;
    line-height: 20px;
}
#Rci{
    width: 30px;
}

main{
 /* background-color: yellowgreen; */
 width: 80%; 
 margin: auto;
 height: 80vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-right: 20px;
}

.mainform{
    width: 100%;
    height: 85%;
    /* border: 10px solid gray; */
    display: flex;
    
}

.left-form{
    /* background-color: salmon; */
    width: 50%;
    height: 100%;
    margin: auto;
    row-gap: 50px;
    font-family: sans-serif;
}

button{
    background-color:  #FF6433;
    width: 160px;
    height: 55px;
    justify-content: center;
    border: none;
    border-radius: 7px;
    margin-bottom: 40px;
}

#buttontext{
    color: white;
}

#TopText{
    font-size: 53px;
    padding-right: 20px;
    margin-bottom: 35px;
    font-weight: bolder;
    padding-top: 75px;
}

.right-form{ 
    width: 50%;
    height: 70vh;
    margin: auto;
    /* background-color: brown; */
    background-image: url(../images/Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

      
    
} 

.opentag{
    display: flex;
}

#first{
    display: block;
    color: gray;
}

.service{
width: 420px;
right: 29%;
position: absolute;
height: 35%;


}

.rating{
width: 420px;
height: 38%;
left: 65%;
position: absolute;
bottom: 0%;
margin-bottom: 40px;
}

.lowertexticon{
    display: flex;
}

.lowertext{
    margin-left: 10px;
}